{% extends 'base.html' %}
{% block title %} Register {% endblock %}
{% block body %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-2">
        <label for="{{ form.username.id_for_label }}">Email</label>
        <input type="text" name="{{ form.username.html_name }}" class="form-control">
        {{ form.username.errors }}
    </div>
    <div class="mb-2">
        <label for="{{ form.password.id_for_label }}">Password</label>
        <input type="password" name="{{ form.password.html_name }}" class="form-control">
        {{ form.password.errors }}
    </div>
    <div>
        {% if form.errors %}
            <div class="alert alert-danger fw-bold">
                Please enter a valid email and password
            </div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary px-4 fs-5">Submit</button>
</form>
{% endblock %}
