{%extends 'base.html'%} {%block title %} Reset Done {%endblock%} {%block body%}
<div
  class="d-flex flex-column justify-content-center align-items-center text-center"
  style="min-height: 100vh;background-color:#f0f8ff"
>
  <div class='shadow shadow-lg  p-5 rounded-5' style='background-color:white'>
    <h5 class='py-4'>Password Reset Sent</h5>
    <p>
      We’ve emailed you instructions for setting your password, if an account
      exists with the email you entered. You should receive them shortly.
    <p>
    <p class='pb-5'>
      If you don’t receive an email, please make sure you’ve entered the address
      you registered with, and check your spam folder.
    <p>
  </div>
</div>
{%endblock%}