{%extends 'base.html'%} {%block title%} Reset Confirm {%endblock%} {%block body%}
<div
  class="d-flex flex-column justify-content-center align-items-center text-center"
  style="min-height: 100vh;background-color:#f0f8ff"
>
  <div class='shadow shadow-lg  p-5 rounded-5' style='background-color:white'>
    <h5 class="py-3">Enter new password</h5>

    <p class="pb-5">
      Please enter your new password twice so we can verify you typed it in
      correctly.
    </p>
    <div class="d-flex justify-content-center pb-5">
      <form method="post" class="custom-form w-75">
        {% csrf_token %}
        <fieldset class="module aligned">
          <input hidden autocomplete="username" value="ahmedsayed" />
          <div class="form-row field-password1">
            <p for="id_new_password1 " class="text-start">New password</p>
            <input
              type="password"
              name="new_password1"
              autocomplete="new-password"
              class="form-control"
              required=""
              id="id_new_password1"
            />
          </div>
          <div class="form-row field-password2">
            <p for="id_new_password2" class="text-start">Confirm password</p>
            <input
              type="password"
              name="new_password2"
              autocomplete="new-password"
              required=""
              class="form-control"
              id="id_new_password2"
            />
          </div>
          <div class="text-end">
            <button type="submit" class="btn custom-btn">
              Change my password
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{%endblock%}
