  {%extends 'base.html'%} {%block title%} Password Reset Complete {%endblock%}
  {%block body%}

  <div
    class=" py-5 d-flex flex-column justify-content-center align-items-center "
    style="min-height: 100vh; background-color:#f0f8ff">
    <div class='shadow shadow-lg p-5 rounded-5' style='background-color:white'>

    <h5 class="py-3">Password reset complete</h5>

    <p>Your password has been set. You may go ahead and <a href="{%url 'accountLogin'%}" class="text-primary">Log in</a> now.</p>

  </div>
</div>
{%endblock%}
