{%extends 'base.html'%} {%load static%} {%block body%} username :
{{user.user.username}}<br />
First Name: {{user.user.first_name}}<br />
Last Name: {{user.user.last_name}}<br />
Email :{{user.user.email}}/<br />
User Id: {{user.id}}/<br />
<img src="{{  user.image.url }}" width="200px" height="200px" /><br />
----------------------- <br />
address : {{user.address}}<br />
birthdate : {{user.birthdate}} <br />

<a href='{% url "profileEdit" user.id%}'>
  <button class="btn btn-info">edit</button></a
>
<form method="POST" action="{% url 'profileDelete' user.id %}">
  {% csrf_token %}
  <input
    type="submit"
    value="Delete Profile"
    class="bg-danger text-light"
    onclick="return confirm('Are you sure you want to delete your profile?')"
  />
</form>
---- <br>
<h2> Your Projects </h2>
{% for project in user.projects.all%}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ project.title }}</h5>
    <p class="card-text">{{ project.details }}</p>
    <small> Started at {{ project.start_time }} </small>
    <small> End in {{ project.end_time }} </small>
    <a href="{%url 'projectDetails' project.id%}" class="btn btn-primary mt-2">Go to Project</a>
  </div>
</div>
{%endfor%}<br>
---- <br>
<h2> Your Donations </h2>

<div class='d-flex flex-col  mb-5'>
{% for donation in user.donations.all%}
<div class="card me-3 p-3" >
    <h5 >You Donated {{donation.donation}} to {{donation.project.title}} Project </h5>
</div>
{%endfor%}
</div>




{%endblock%}
