{%extends 'base.html'%} {%load static%}{%block body%}

<div id="carouselId" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-bs-target="#carouselId"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="First slide"
    ></li>
    <li
      data-bs-target="#carouselId"
      data-bs-slide-to="1"
      aria-label="Second slide"
    ></li>
    <li
      data-bs-target="#carouselId"
      data-bs-slide-to="2"
      aria-label="Third slide"
    ></li>
    <li
      data-bs-target="#carouselId"
      data-bs-slide-to="3"
      aria-label="Fourth slide"
    ></li>
    <li
      data-bs-target="#carouselId"
      data-bs-slide-to="4"
      aria-label="Fifth slide"
    ></li>  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="d-block w-100" style="background: url({% static 'home_page_LzukIMc.PNG' %}) no-repeat center center; height: 400px;">

        <div class="carousel-caption d-none d-md-block">
          <h5 class="" style="color: black !important">
            Project Target: $5000
          </h5>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 25%"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              25%
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div
        class="d-block w-100"
        style="
          background: url('project-image.jpg') no-repeat center center;
          height: 400px;
        "
      >
        <div class="carousel-caption d-none d-md-block">
          <h5 class="" style="color: black !important">
            Project Target: $5000
          </h5>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 25%"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              25%
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div
        class="d-block w-100"
        style="
          background: url('project-image.jpg') no-repeat center center;
          height: 400px;
        "
      >
        <div class="carousel-caption d-none d-md-block">
          <h5 class="" style="color: black !important">
            Project Target: $5000
          </h5>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 25%"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              25%
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div
        class="d-block w-100"
        style="
          background: url('project-image.jpg') no-repeat center center;
          height: 400px;
        "
      >
        <div class="carousel-caption d-none d-md-block">
          <h5 class="" style="color: black !important">
            Project Target: $5000
          </h5>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 25%"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              25%
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div
        class="d-block w-100"
        style="
          background: url('project-image.jpg') no-repeat center center;
          height: 400px;
        "
      >
        <div class="carousel-caption d-none d-md-block">
          <h5 class="" style="color: black !important">
            Project Target: $5000
          </h5>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 25%"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              25%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselId"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselId"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{%endblock%}
