{% extends 'base.html'%} {% load static %} {%block body%}
<h1>Projects in {{ category.name }}</h1>

<div class="row">
  {% for project in projects %}
  <div class="card col-3 me-3 mb-3" style="width: 18rem">
    <div class="card-body">
      <img
        src="{{project.images.first.image.url}}"
        width="200px"
        height="300px"
      />

      <h5 class="card-title">{{ project.title }}</h5>
      <p class="card-text">{{ project.details }}</p>
      <small> Started at {{ project.start_time }} </small>
      <small> End in {{ project.end_time }} </small>
      <a href="{%url 'projectDetails' project.id%}" class="btn btn-primary"
        >Go to Project</a
      >
    </div>
  </div>

    {%endfor%}
</div>

{%endblock%}
