{% extends 'base.html'%}

{% load static %}
{%block body%}
    <h1>Projects in {{ category.name }}</h1>

    
        {% for project in projects %}
            <div class="card d-flex" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.details }}</p>
                    <p>Target: ${{ project.target }}</p>
                    <p>Start Time: {{ project.start_time }}</p>
                    <p>End Time: {{ project.end_time }}</p>
                    <p>Is Featured: {% if project.is_featured %}Yes{% else %}No{% endif %}</p>
                    <a href="{% url 'projectDetails' project.id%}" class="btn btn-primary">View Project</a>
                </div>
            </div>
            
        {% endfor %}
    

    <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
    {%endblock%}