{%extends 'base.html'%} {%block body%}
<style>
  select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI4Ij48cGF0aCBkPSJNMSAuOTVMNS45NSA1LjkgMTAuOS45NSIgc3Ryb2tlPSIjMzMzIiBzdHJva2Utd2lkdGg9IjIiIGZpbGw9Im5vbmUiLz48L3N2Zz4K) no-repeat;
      background-position-x: 100%;
      background-position-y: 50%;
  }
</style>




<div class="container mb-5 shadow shadow-lg px-5 py-3 rounded">
  <div class="row">
    <div class="col">
      <form method="post" class='custom-form' enctype="multipart/form-data">
        {% csrf_token %}
      <div class='my-3'>
        
        <label class="fw-bold fs-5" for="{{ project_form.title.id_for_label }}"
          >{{ project_form.title.label }}</label
        >
        {{ project_form.title }}
      </div>
      <div class='my-3'>
        <label
          class="fw-bold fs-5"
          for="{{ project_form.details.id_for_label }}"
          >{{ project_form.details.label }}</label
        >
        {{ project_form.details }}
      </div>
      <div class='my-3'>
        <label class="fw-bold fs-5" for="{{ project_form.category.id_for_label }}">{{ project_form.category.label }}</label>
        <select name="category" id="{{ project_form.category.auto_id }}" class="form-control" multiple>
        {% for category in project_form.fields.category.queryset %}
            <option value="{{ category.pk }}" >{{ category.name }}</option>
        {% endfor %}
        </select>
      </div>
      <div class='my-3'>
        <label class="fw-bold fs-5" for="{{ project_form.target.id_for_label }}"
          >{{ project_form.target.label }}</label
        >
        {{ project_form.target }} {{ picture_formset.management_form }}
        {% if project_form.target.errors %}
        <div class="alert alert-danger mt-3">{{ project_form.target.errors }}</div>
        {% endif %}
      </div>
      <div class='my-3'>
        <label class="fw-bold fs-5" for="{{ project_form.tags.id_for_label }}">{{ project_form.tags.label }}</label>
      <select name="{{ project_form.tags.html_name }}" id="{{ project_form.tags.auto_id }}" class="form-control" multiple>
      {% for tag in project_form.fields.tags.queryset %}
          <option value="{{ tag.pk }}" >{{ tag.name }}</option>
      {% endfor %}
      </select>
    </div>
    </div>
    <div class="col">
    
      <div class='my-3'>
        <label
          class="fw-bold fs-5"
          for="{{ project_form.start_time.id_for_label }}"
          >{{ project_form.start_time.label }}</label
        >
        {{ project_form.start_time }}
        {% if project_form.start_time.errors %}
        <div class="alert alert-danger">{{ project_form.start_time.errors }}</div>
        {% endif %}
      </div>
      <div class='my-3'>
        <label
          class="fw-bold fs-5"
          for="{{ project_form.end_time.id_for_label }}"
          >{{ project_form.end_time.label }}</label
        >
        {{ project_form.end_time }}
        {% if project_form.end_time.errors %}
        <div class="alert alert-danger">{{ project_form.end_time.errors }}</div>
        {% endif %}
      </div>
      <h5>Images</h5>
        {% for form in picture_formset %}
        <div class="my-3">{{form.image}}</div>
        {% if form.image.errors %}
        <div class="alert alert-danger">{{ form.image.errors }}</div>
        {% endif %} {% endfor %} {% if picture_formset.non_form_errors %}
        <div class="alert alert-danger">
          {{ picture_formset.non_form_errors }}
        </div>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary fs-5 mt-4 px-5">
          Create
        </button>
    </form>
    </div>
  </div>
</div>
{%endblock%}
