{%extends 'base.html'%} {% load static %} {%block body%}











<div class="border border-1 shadow shadow-lg my-5 rounded p-3">

  <form method="get" action="{% url 'home' %}">
    {{ search_form.query.label_tag }}
    <input type="text" name="query" value="{{ search_form.query.value }}" placeholder="Search by Title or Tag">
    <button type="submit">Search</button>
</form>




  <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li
        data-bs-target="#carouselId"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="First slide"
      ></li>
      <li
        data-bs-target="#carouselId"
        data-bs-slide-to="1"
        aria-label="Second slide"
      ></li>
      <li
        data-bs-target="#carouselId"
        data-bs-slide-to="2"
        aria-label="Third slide"
      ></li>
      <li
        data-bs-target="#carouselId"
        data-bs-slide-to="3"
        aria-label="Fourth slide"
      ></li>
      <li
        data-bs-target="#carouselId"
        data-bs-slide-to="4"
        aria-label="Fifth slide"
      ></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      {% for project in top_projects %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <div
          class="d-block w-100 rounded"
          style="background: url({{ project.images.first.image.url }}) no-repeat center center; height: 400px;"
        >
          <div class="carousel-caption d-none d-md-block">
            <h3 class="" style="color: black !important">
              {{ project.title }}
            </h3>
            <h5 class="" style="color: black !important">
              Project Target: ${{ project.target }}
            </h5>
            <div class="progress" style="height: 30px">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: {{ project.progress }}%; font-size: 20px;"
                aria-valuenow="{{ project.progress }}"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                $ {{ project.total_donations }}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselId"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselId"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="border border-1 shadow shadow-lg my-5 rounded p-3">
  <h1>Latest Projects</h1>
  <div id="latest" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li
        data-bs-target="#latest"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="First slide"
      ></li>
      <li
        data-bs-target="#latest"
        data-bs-slide-to="1"
        aria-label="Second slide"
      ></li>
      <li
        data-bs-target="#latest"
        data-bs-slide-to="2"
        aria-label="Third slide"
      ></li>
      <li
        data-bs-target="#latest"
        data-bs-slide-to="3"
        aria-label="Fourth slide"
      ></li>
      <li
        data-bs-target="#latest"
        data-bs-slide-to="4"
        aria-label="Fifth slide"
      ></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      {% for project in latest_projects %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <div
          class="d-block w-100 rounded"
          style="background: url({{ project.images.first.image.url }}) no-repeat center center; height: 400px;"
        >
          <div class="carousel-caption d-none d-md-block">
            <h3 class="" style="color: black !important">
              {{ project.title }}
            </h3>
            <h5 class="" style="color: black !important">
              Project Target: ${{ project.target }}
            </h5>
            <div class="progress" style="height: 30px">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: {{ project.progress }}%; font-size: 20px;"
                aria-valuenow="{{ project.progress }}"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                $ {{ project.total_donations }}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#latest"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#latest"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="border border-1 shadow shadow-lg my-5 rounded p-3">
  <h1>Featuerd Projects</h1>
  <div id="featuerd" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li
        data-bs-target="#featuerd"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="First slide"
      ></li>
      <li
        data-bs-target="#featuerd"
        data-bs-slide-to="1"
        aria-label="Second slide"
      ></li>
      <li
        data-bs-target="#featuerd"
        data-bs-slide-to="2"
        aria-label="Third slide"
      ></li>
      <li
        data-bs-target="#featuerd"
        data-bs-slide-to="3"
        aria-label="Fourth slide"
      ></li>
      <li
        data-bs-target="#featuerd"
        data-bs-slide-to="4"
        aria-label="Fifth slide"
      ></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      {% for project in featured_projects %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <div
          class="d-block w-100 rounded"
          style="background: url({{ project.images.first.image.url }}) no-repeat center center; height: 400px;"
        >
          <div class="carousel-caption d-none d-md-block">
            <h3 class="" style="color: black !important">
              {{ project.title }}
            </h3>
            <h5 class="" style="color: black !important">
              Project Target: ${{ project.target }}
            </h5>
            <div class="progress" style="height: 30px">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: {{ project.progress }}%; font-size: 20px;"
                aria-valuenow="{{ project.progress }}"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                $ {{ project.total_donations }}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#featuerd"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#featuerd"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{%endblock%}
