{%extends 'base.html'%} {% load static %} {%block body%}

<style>
  img {
    min-width: 500px;
  }
</style>
<div class="container border p-3 shadow shadow-lg rounded">
  <h4 class="px-3">Search For a Project</h4>
  <form
    method="POST"
    class="d-flex text-center align-items-center p-3 m-2 bg-dark"
    style="border-radius: 10px"
  >
    {% csrf_token %} {{ search_form }}
    <div>
      <input type="submit" class="btn btn-primary m-2 p-2" value="Search" />
    </div>
  </form>

  <div class="border border-1 shadow shadow-lg my-5 rounded p-3">
    <h2 class="mb-3">Top Projects</h2>
    <div id="myCarousel" class="carousel slide center" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>

      <!-- Slides -->
      <div class="carousel-inner text-center">
        {% for project in top_projects %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <div class="d-flex justify-content-center mb-5">
            <a href="{%url 'projectDetails' project.id%}">
              <img src="{{ project.images.first.image.url }}" height="400px" />
            </a>
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h3 class="" style="color: white !important">
              {{ project.title }}
            </h3>
            <h5 class="" style="color: white !important">
              Project Target: ${{ project.target }}
            </h5>
            <div class="progress" style="height: 30px">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: {{ project.progress }}%; font-size: 20px;"
                aria-valuenow="{{ project.progress }}"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {%if project.total_donations%} $ {{ project.total_donations }}
                {%endif%}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- Controls -->
      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>

  <div class="border border-1 shadow shadow-lg my-5 rounded p-3">
    <h2>Latest Projects</h2>
    <div id="myCarousel2" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel2" data-slide-to="1"></li>
        <li data-target="#myCarousel2" data-slide-to="2"></li>
        <li data-target="#myCarousel2" data-slide-to="3"></li>
        <li data-target="#myCarousel2" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        {% for project in latest_projects %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <div class="d-flex justify-content-center mb-5">
            <a href="{%url 'projectDetails' project.id%}">
              <img src="{{ project.images.first.image.url }}" height="400px" />
            </a>
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h3 class="" style="color: white !important">
              {{ project.title }}
            </h3>
            <h5 class="" style="color: white !important">
              Project Target: ${{ project.target }}
            </h5>
            <div class="progress" style="height: 30px">
              <div
                class="progress-bar text-center"
                role="progressbar"
                style="width: {{ project.progress }}%; font-size: 20px;"
                aria-valuenow="{{ project.progress }}"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {%if project.total_donations%} $ {{ project.total_donations }}
                {%endif%}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- Controls -->
      <a class="carousel-control-prev" href="#myCarousel2" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#myCarousel2" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>

  <div class="border border-1 shadow shadow-lg my-5 rounded p-3">
    <h2>Featuerd Projects</h2>
    <div id="myCarousel3" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel3" data-slide-to="1"></li>
        <li data-target="#myCarousel3" data-slide-to="2"></li>
        <li data-target="#myCarousel3" data-slide-to="3"></li>
        <li data-target="#myCarousel3" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        {% for project in featured_projects %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <div class="d-flex justify-content-center mb-5">
            <a href="{%url 'projectDetails' project.id%}">
              <img src="{{ project.images.first.image.url }}" height="400px" />
            </a>
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h3 class="" style="color: white !important">
              {{ project.title }}
            </h3>
            <h5 class="" style="color: white !important">
              Project Target: ${{ project.target }}
            </h5>
            <div class="progress" style="height: 30px">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: {{ project.progress }}%; font-size: 20px;"
                aria-valuenow="{{ project.progress }}"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {%if project.total_donations%} $ {{project.total_donations}}
                {%endif%}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- Controls -->
      <a class="carousel-control-prev" href="#myCarousel3" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#myCarousel3" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
</div>
{%endblock%}
