{%extends 'base.html'%}
{%block body%}

  {% if messages %}
  <div class="messages">
      {% for message in messages %}
      <div{% if message.tags %} class="{{ message.tags }} alert alert-danger"{% endif %}>{{ message }}</div>
      {% endfor %}
  </div>
  {% endif %}

  <div class="container mt-4 border p-3  shadow shadow-lg rounded d-flex justify-content-start">
  
  
    <div class='left-section w-75'>
  
  
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        {% for image in  currentProject.images.all %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %} aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
        {% endfor %}
      </div>
      <div class="carousel-inner ">
        {% for image in currentProject.images.all %}
        <div class="carousel-item  {% if forloop.first %}active{% endif %}">
          <img src="{{ image.image.url }}" class="d-block w-100 " height="450px" alt="{{ project.title }}">
        </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    
    
    <div class="container mt-4 border p-3  shadow shadow-lg rounded ">
    <div class="row">
        <div class="col-md-8">
            <h1>{{ currentProject.title }}</h1>
            <h3>Project Description:</h3>
            <p>{{ currentProject.details }}</p>
            {% comment %} <h3>Categories:</h3>
            {% for category in currentProject.category.all %}
              <p>{{ category.name }}</p>
            {% endfor %} {% endcomment %}
            <h3>Tags:</h3>
            {% for tag in currentProject.tags.all %}
              <p>{{ tag.name }}</p>
            {% endfor %}
            <h3>Total target: {{ currentProject.target }}$</h3>
            <h3>Start Date: </h3>{{ currentProject.start_time }}
            <h3>End Date: </h3>{{ currentProject.end_time }}
            <h3>Donations:
              {% for donation in currentProject.donations.all %}
                  <p style="color: red">User: {{ donation.user.user.username }} Donated, Amount: {{ donation.donation }}</p>
              {% endfor %}
            </h3>
            <h3>Ratings:</h3>
            {% for rating in currentProject.ratings.all %}
            <p>{{ rating.user.user.username }} || {{ rating.rating }}</p>
              {% endfor %}
            <p>Average Rating: {{ averageRating }}</p>

        </div>
        
  </div>
        
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Support this Project</h5>
                            <form method="post" class="form-group">
                              {% csrf_token %}
                              {% if not currentProject.completed %}
                                <input type="number" name="donation" class="form-control" min="1" required>
                                <div class='d-flex justify-content-end me-2 '>
                                  <input type="submit" name="submit-donation" value="Donate" class="btn btn-primary mt-2 px-4 py-2">
                                </div>
                              {% else %}
                                <input type="number" name="donation" class="form-control" min="1" disabled>
                                <div class='d-flex justify-content-end me-2 '>
                                  <input type="submit" name="submit-donation" value="Donate" class="btn btn-primary mt-2 px-5 py-2">
                                </div>
                              {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                  <div class="card">
                    <div class="card-body">
                      <h3> Rate Project </h3>
                      <form method="post" class="form-group">
                        {% csrf_token %}
                        {{ratingForm}}
                        <div class='d-flex justify-content-end me-2 '>
                        <input type="submit" name="submit-rating" value="Submit Rating" class="btn btn-primary mt-2 px-3 py-2">
                        </div>
                      </form>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                  <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Actions</h5>
                        <a href='{%url "reportProject" id=currentProject.id%}'><button class='btn btn-danger'>Report Project</button></a>
                        <a href='{%url "deleteProject" id=currentProject.id%}'><button class='btn btn-danger'>Delete Project</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  {% comment %} comments section {% endcomment %}
  <div class='border p-3  shadow shadow-lg rounded'>
    <h2 class='mb-3'>Give us your opinion </h2>
    <form method="post" class="form-group">
      {% csrf_token %}
      <textarea name="text" id="commentText" class="form-control" required></textarea>
      <div class="d-flex justify-content-end ">
        <input type="submit" name="submit-comment" value="Submit Comment" class="btn btn-primary ms-2 px-4 my-3 ">
      </div>
    </form>

    {%if currentProject.comments.all %}
      <div class='p-3'>
      <h2>Comments </h2>
      {% for comment in currentProject.comments.all %}
        <div class='form-control shadow shadow-lg pt-3 my-3'>
          <div class='d-flex justify-content-between'>
            <p>{{ comment.user.user.username }} : </p>
            <a href='{%url "reportComment" id=currentProject.id commentID=comment.id %}'><button type'button' class='btn btn-danger'>Report Comment</button></a>
          </div>
          <p>{{ comment.text }}</p>
        </div>
      {% endfor %}
      </div>
    {%endif%}
    
  </div>
  
</div>
</div>
<div class='ms-3 w-25'>
  <div>
<div class='d-flex justify-content-center  '>
  <div class='me-3'>
  <img src='{{currentProject.user.image.url}}' width='80px' height='90px' class='rounded'/>
  </div>
  <div>
    <p class='fw-bold p-0'>Organizer: <span class='text-primary'>{{currentProject.user.user.username}}</span></p>
    <p style='font-size:10px' class='text-muted py-0'>Start Date {{ currentProject.start_time }}</p>
    <p style='font-size:10px' class='text-muted py-0'>End Date {{ currentProject.end_time }}</p>
</div>
</div><div class='shadow shadow-lg mt-5 p-2'>
  <span class='fw-bold'>Latest Donations</span>
  {% for donation in currentProject.donations.all|slice:":-3"%}
    <div class='d-flex justify-content-start py-3'>
      <div class='me-3'>
        <img src='{{ donation.user.image.url }}' alt='user photo' width='80px' height='90px' class='rounded'/>
      </div>
      <div>
        <p class='fw-bold text-primary'>{{ donation.user.user.username }}</p>
        <span style="color: green"> ${{ donation.donation }}</span>
      </div>
    </div>
  {% endfor %}
</div>

</div>
</div>
{%endblock%}
