{%extends 'base.html'%} {%block body%}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="container bg-dark text-light rounded shadow shadow-lg my-3 p-3">
  <p>Project Title: {{ currentProject.title }}</p>
  <p>Project Details: {{ currentProject.details }}</p>
  <p>Total target: {{ currentProject.target }}</p>
  <p>Start Time: {{ currentProject.start_time }}</p>
  <p>End Time: {{ currentProject.end_time }}</p>
  <p>Donations:     
    {% for donation in currentProject.donations.all %}
        <p>User: {{ donation.user.user.username }}, Amount: {{ donation.donation }}</p>
    {% endfor %}
    </p>

  <h3>Ratings:</h3>
  {% for rating in currentProject.ratings.all %}
  <p>{{ rating.user.user.username }} || {{ rating.rating }}</p>
    {% endfor %}
<p>Average Rating: {{ averageRating }}</p>


  <h3>Categories:</h3>
  {% for category in currentProject.category.all %}
  <p>{{ category.name }}</p>
  {% endfor %}

  <h3>Tags:</h3>
  {% for tag in currentProject.tags.all %}
  <p>{{ tag.name }}</p>
  {% endfor %}
 <h3> Rate Project </h3>
  <form method="post" class="form-group">
    {% csrf_token %}
    {{ratingForm}}
    <input type="submit" name="submit-rating" value="Submit Rating" class="btn btn-primary mt-2">
</form>

<h3 class='mt-4'> Donate Now </h3>
<form method="post" class="form-group">
    {% csrf_token %}
    {% if not currentProject.completed %}
        <input type="number" name="donation" class="form-control" min="1" required>
        <input type="submit" value="Donate" class="btn btn-primary mt-2">
    {% else %}
        <input type="number" name="donation" class="form-control" min="1" disabled>
        <input type="submit" value="Donate" class="btn btn-primary mt-2" disabled>
    {% endif %}
</form>


</div>

<h3>Comments:</h3>
  {% for comment in currentProject.comments.all %}
  <div class='form-control bg-info'>
  <p>{{ comment.user.user.username }}</p>
  <p>{{ comment.text }}</p>
  </div>
  {% endfor %}
<form method="post" class="form-group">
    {% csrf_token %}
    <label for="commentText">Comment:</label>
    <textarea name="text" id="commentText" class="form-control" required></textarea>
    <input type="submit" name="submit-comment" value="Submit Comment" class="btn btn-primary mt-2">
</form>


{%endblock%}