<!DOCTYPE html>
{%load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%} {%endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />

  </head>
  <body>
    
    
    
    <div class="bg-dark p-3 mb-5 text-light d-flex justify-content-between ">
      <div>
        <a href='{%url "home" %}' class='text-decoration-none text-light me-4'> Home </a>
        <a href='{%url "createProject" %}' class='text-decoration-none text-light'> Create Project </a>
      </div>
    <div>
      {%if request.session.username %}
      request.session.profileId= {{request.session.profileId}}
      <a href="{% url 'accountLogout'%}" class="text-decoration-none text-white mx-3"
        >Logout</a
      >
      <a href="{% url 'profile' request.session.profileId %}" class="text-decoration-none text-white mx-3"
        >Profile</a
      >
      {%else%}
      <a href="{% url 'accountLogin'%}" class="text-decoration-none text-white mx-3"
        >Login</a
      >
      <a
        href="{% url 'accountRegister'%}"
        class="text-decoration-none text-white me-3"
        >Register</a
      >
      {%endif%}
    </div>
    </div>
     
    <div class="container">{%block body%} {%endblock%}</div>

    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
  </body>
</html>
