<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3 mb-5 align-items-baseline fs-5">
      <a class="navbar-brand fw-bold fs-5" href="{%url 'home'%}">Fundy</a>
      <div class="d-flex justify-content-between w-100">
        <ul class="navbar-nav tx mx-auto">
          <li class="nav-item active">
            <a class="nav-link fw-bold text-light" href="{%url 'home' %}"
              >Home</a
            >
          </li>

          <li class="nav-item me-5">
            <a class="nav-link text-light" href="{%url 'project_list'%}"
              >Projects</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="{%url 'category' 1%}">Film</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="{%url 'category' 2%}"
              >Food and Craft</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="{%url 'category' 3%}"
              >Design and Tech</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="{%url 'category' 4%}">Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="{%url 'category' 5%}">Music</a>
          </li>
        </ul>

        {% if not request.session.username %}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-light" href='{%url "accountLogin"%}'
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href='{%url "accountRegister"%}'
              >Register</a
            >
          </li>
        </ul>

        {% else %}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link text-light"
              href="{%url 'profile' request.session.profileId%}"
              >Profile</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="{%url 'accountLogout'%}"
              >Logout</a
            >
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>

    <div class="container">
      {%block body%}

      {%endblock%}
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
  </body>
</html>
